{% block content %}
    {% if videoId %}
        <iframe width="1280" height="720" src="https://www.youtube.com/embed/{{ videoId }}?autoplay=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    {% elseif authUrl %}
        {% trans %}
            <p>It seems like there is no available broadcast yet...</p>
        {% endtrans %}
    {% endif %}
{% endblock %}

